.card {

  //Functionality
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  transform-style: preserve-3d;

  &__side {
    height: 52rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    &_type_face{
      background-color: $color-white;
    }

    &_type_back{
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side_type_face {
    transform: rotateY(-180deg);
  }

  &:hover &__side_type_back {
    transform: rotateY(0deg);
  }

  //Front side styling
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;

    &_type_img-1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
    }

    &_type_img-2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
    }

    &_type_img-3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    text-align: right;
    position: absolute;
    width: 75%;
    top: 12rem;
    right: 2rem;


    &-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;

      &_type_1 {
        background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
      }

      &_type_2 {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
      }

      &_type_3 {
        background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.8), rgba($color-tertiary-dark, 0.8));
      }
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-light-2;
        }
      }
    }
  }

  &__cta {
    @include absCenter;
    text-align: center;
    width: 90%;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port){
    height: auto;
    position: relative;
    perspective: 150rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    background-color: $color-white;

  
    &__side {
      height: auto;
      position: static;
      width: 100%;

      overflow: hidden;
  
      &_type_face{
        box-shadow: none;
      }

      &_type_back{
        transform: rotateY(0);
        padding: 4rem;
        padding-top: 1rem;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

      }
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      text-align: center;
      width: 100%;
      padding: 4rem;
    }

    &__price-box {
      margin-bottom: 2rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}