.story {
  width: 75%;
  margin: 0 auto;
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba($color-black, .2);
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    transform: skewX(12deg);
  }
}