.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;

  &__item{

    &_number_1{
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    &_number_2{
      grid-column: 3 / span 3;
      grid-row: 1 / 4;
    }

    &_number_3{
      grid-column: 6 / 7;
      grid-row: 1 / span 2;
    }

    &_number_4{
      grid-column: 7 / span 2;
      grid-row: 1 / span 2;
    }

    &_number_5{
      grid-column: 1 / span 2;
      grid-row: 3 / span 3;
    }

    &_number_6{
      grid-column: 3 / 5;
      grid-row: 4 / span 2;
    }

    &_number_8{
      grid-column: 6 / span 2;
      grid-row: 3 / span 2;
    }

    &_number_9{
      grid-column: 8 / 9;
      grid-row: 3 / span 3;
    }

    &_number_10{
      grid-column: 1 / 2;
      grid-row: 6 / span 2;
    }

    &_number_11{
      grid-column: 2 / span 2;
      grid-row: 6 / span 2;
    }

    &_number_12{
      grid-column: 4 / 5;
      grid-row: 6 / span 2;
    }

    &_number_13{
      grid-column: 5 / span 3;
      grid-row: 5 / span 3;
    }

    &_number_14{
      grid-column: 8 / 9;
      grid-row: 6 / span 2;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}