.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / -1;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;
  padding: 3rem;

  @media only screen and(max-width: $br-medium){
    grid-column: full-start / full-end;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center;

    @media only screen and(max-width: $br-medium){
      grid-template-columns: repeat(3, min-content max-content);
      column-gap: 2rem;
    }

    @media only screen and(max-width: $br-small){
      grid-template-columns: min-content max-content;
      row-gap: 2rem;
    }
  }

  &__img {
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}